<html>
<head>
<title>Dashboard for Movie Recommended System</title>
<h1 class='h1'>Movie Recommendation System</h1>
</head>
<style>
.h1{
color:white;
text-align:center}
    .bt1{
        background-color:rgb(205, 255, 220);
        padding: 20px 40px;
        margin: 250px 200px;

    }
    .bt2{
        background-color: rgb(20, 173, 220);
        padding: 20px 40px;
    }
    body{
        background-color: black;
    }
</style>
<body>
<form action='#' method='post'>
<input type='submit' class="bt1" name="bt" value="Recommend Movies by UserId">
<input type='submit' class="bt2" name="bt" value="Recommende Movies by Genres">

</form>

</body>

</html>

