<html>
<head>
<title> Welcome to UserId based homepage!</title>
<head>
<style>
body{
   background-image: url('/static/imagep1.jpg'); background-repeat=no-repeat;
   background-attachment:fixed;
   background-size:cover;
}
#ans{
position:fixed;
bottom:45%;
right:45%;
}

.div{
background-color:black;
color:white;
position :fixed;
left:10%;
bottom:60%;
right:60%;
}

</style>

    <body>
    <div1 class="div">
     <h1 style="color:white" >Please.. Enter the UserId from 1 to 438
       for which you want to Recommend Movies</h1>
       </div1>
    <div id="ans">
    <form action="/i" method="post">
    <input type="text" name="ur" required> 
    <br>
    <br>
    <input type="submit" style="background-color:blue" name="submit">
    </form>
</div>
    </body>
</html>

